		<section id="main" ng-controller="ShowController as showCtrl">
			<section id="posts" ng-repeat="post in showCtrl.posts">
				<h2>{{post.title}}</h2>	
				<p>{{post.content}}</p>
				<hr>
			</section>
			<form name="addPost" ng-controller="CreateController as createCtrl" ng-submit="addPost.$valid && createCtrl.addPost(showCtrl.posts)"novalidate>
				<p id="form">Create Post</p>
				<label>Titulo</label>
				<input type="text" placeholder="Añade un t&iacute;tulo" ng-model="createCtrl.post.title" required>
				<label>Contenido</label>
				<textarea placeholder="Añade aqu&iacute; el contenido" ng-model="createCtrl.post.content" rows="6" required></textarea>
				<input type="submit" value="Submit" />
			</form>
		</section>