h1,h2{
	margin: 0px;
}

#post-1 > h2{
	padding-top: 5%;
}

body{
	background-color: #EEE;
}

header{
	background-color: darkred;
	color: #FFFFFF;
	margin: 0 auto 0 auto;
	padding: 2% 0px 2% 0px;
	text-align: center;
	width: 80%;
}

footer{
	background-color: darkgray;
	color: white;
	margin: 0 auto 0 auto;
	padding: 1% 0px 1% 0px;
	text-align: center;
	width: 80%;
}

form{
	margin: 0;
}

img {
	float: right;
	margin: 2%;
	width: 24px;
}

label{
	display: block;
	text-align: left;
	margin-left: 5%;
}

section#main {
	background-color: #FFFFFF;
	margin: 0 auto 0 auto;
	padding-top: 3%;
	text-align: center;
	width: 80%;
}

input, textarea{
	width: 90%;
	margin-bottom: 5%;
}

input[type = 'submit']{
	background-color: #006600;
	color: #FFFFFF;
	font-weight: bold;
	margin-bottom: 5%;
	padding: 2% 0px 2% 0px;
	width:45%;
}

p#form {
	font-size: 2.5em;
	font-weight: bold;
	padding-bottom: 5%;
	padding-top: 5%;
}

.ng-invalid.ng-invalid-required{
	border-color: #FF0000;
}
.ng-pristine.ng-invalid.ng-invalid-required{
	border-color: #000000;
}

#posts {
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;
}